$colors (
    primary: (
        900: #222524,
        800: #3946F9,
        700: #5863F8, 
    ),
    neutral: (
        900: #967caa,
        800: #c0b0cb,
        700: #EFEBF2,
    ),
    accent: (
        900: #0b6267,
        800: #16BAC5,
        700: #35dde8,
    )
);