@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --rotate-start: 0;
    --rotate-end: 720deg;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption {
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

img,
picture {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

input,
button {
    font: inherit;
}

.container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.spin {
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: ease;
    transform-origin: center;
}

.pointer {
    animation-name: pointer;
    animation-duration: 3s;
    animation-timing-function: ease;
    transform-origin: center 0;
}

@keyframes spin {
    0% {
        transform: rotate(var(--rotate-start));
    }
    100% {
        transform: rotate(var(--rotate-end));
    }
}

@keyframes pointer {
    0%,100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-7deg);
    }
    
}

.flex {
    display: flex;
    align-items: center;
    gap: 1em;
}

.flex-gap {
    display: flex;
    align-items: center;
    gap: 5em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.active_player {
    box-shadow: 0px 0px 10px 5px rgba(199, 80, 0, 1),
                inset 0px 0px 10px 13px rgba(199, 80, 0, 1);
}

.header {
    min-height: 15vh;
    padding: 1em;
    background-color: #C75000;
    color: white;
}

.header__title {
    letter-spacing: 5px;
}

.main {
    min-height: 75vh;
    padding: 2em;
    background-color: #621B00;
}

.wheel {
    text-align: center;
}

.balance {
    padding-bottom: 1em;
}

.letter-cell {
    display: inline-block;
    height: 70px;
    width: 40px;
    background-color: #F1E0C5;
    outline: 5px solid black;
}

.letter {
    color: white;
    font-size: 18px;
}

.letter-disabled {
    color: grey;
}

.player {
    text-align: center;
}

.player__balance {
    color: white;
    font-size: 20px;
}

.footer {
    min-height: 10vh;
    padding: 1em;
    background-color: #2F1000;
    color: white;
    text-align: center;
}